
    a {
      text-decoration: none;
      color: #00932B;
    }

    body {
        font-family: charterregular;
        color: #003BE4;

        max-width: 35em;

        counter-reset: trope-heading;
    }


    .trope h2::before {
      counter-increment: trope-heading;
      content: counter(trope-heading) ". "
    }
